<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建shiroFilter，shiro的核心-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--注入securityManager-->
        <property name="securityManager" ref="securityManager"/>
        <!--如果没有认证，自动跳转到该页面-->
        <property name="loginUrl" value="/login"/>
        <!--过滤链-->
        <property name="filterChainDefinitions">
            <value>
                /login.jsp=anon
                /login=anon
                /static/**=anon
                /static/*=anon
                /commons/**=anon
                /front/**=anon
                <!--/order/**=authc-->
                /** = user
            </value>
        </property>
    </bean>

    <!--配置WebSecurityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--注入自定义的realm-->
        <property name="realm" ref="userRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!--自定义reelm，用来认证和授权-->
    <bean class="com.gxy.shiro.UserRealm" id="userRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <!--打开认证缓存-->
        <property name="authenticationCachingEnabled" value="true"/>
        <!--认证缓存区域-->
        <property name="authenticationCacheName" value="authenticationCache"/>
        <!--授权缓存区域-->
        <property name="authorizationCacheName" value="authorizationCache"/>
     </bean>

    <!--凭证匹配器，用来解密md5-->
    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="credentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
    </bean>

    <!--生命周期-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


    <bean class="org.apache.shiro.cache.ehcache.EhCacheManager" id="cacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>

    <bean class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager" id="sessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
        <!--设置全局会话超时时间 半小时-->
        <property name="globalSessionTimeout" value="#{30 * 60 * 1000}"/>
        <!-- url上带sessionId 默认为true-->
        <property name="sessionIdUrlRewritingEnabled" value="false"/>
    </bean>

    <bean class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO" id="sessionDAO">
        <property name="activeSessionsCacheName" value="activeSessionCache"/>
    </bean>
</beans>